/* Global Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #7a527a;
    color: #fff;
    margin: 10px;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    gap: 5px;
}

/* Header Styles */
.header {
    background-color: #9b59b6;
    color: #fff;
    padding: 10px 0; /* Adjust top and bottom padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Container Styles */
.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Image Styles */
#bannerImage {
    display: block;
    margin: 20px auto; /* Add margin to create gap */
    width: 400px; /* Adjust width as needed */
    height: 330px; /* Adjust height as needed */
    object-fit: fill;
    border: 20px solid #9b59b6; /* Adjust border color */
    box-shadow: 0 0 10px rgba(155, 89, 182, 0.5); /* Adjust shadow color */
    border-radius: 5px; /* Add border radius */
}

/* Button Styles */
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

button {
    background-color: #d980f0;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #b977db;
}
